#comments {
	padding-top: 40px;
}

#comments .navigation {
	padding: 0 0 18px;
}

h3 {
	&#comments-title, &#reply-title {
		color: $black;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 0;
		text-transform: uppercase;
		font-family: $heading-font;
	}
	&#comments-title {
		padding: 24px 0;
	}
}

.commentlist li {
	&.comment {
		border-bottom: 1px solid #ababab;
		line-height: 24px;
		position: relative;
		clear: both;
		margin: 0 0 24px;
		padding: 0 0 0 56px;
	}
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
}

#comments .comment-body {
	position: relative;
	ul, ol {
		margin-bottom: 18px;
	}
	p:last-child {
		margin-bottom: 6px;
	}
	blockquote p:last-child {
		margin-bottom: 24px;
	}
	&::after {
		@include keyline(0, 80px, #E5E5E5);
	}
}

#comments .comment:last-of-type .comment-body::after {
	@include keyline(0, 0, transparent);
}

.comments-title {
	padding-top: 50px;
	text-align: left;
	&::after {
		@include keyline(0, 70px, $black);
	}
}

.commentlist {
	ol {
		list-style: decimal;
	}
	.avatar {
		position: absolute;
		top: 4px;
		left: 0;
	}
}

ul.comment-list {
	padding-bottom: 40px;
	border-bottom: 1px solid $accent-1;
}

.comment-author {
	display: inline-block;
	font-size: 18px;
	cite {
		color: $black;
		font-style: normal;
		font-weight: 700;
	}
	.says {
		display: none;
	}
}

.comment-meta {
	padding-top: 25px;
	font-size: 12px;
	margin: 0 0 5px;
	a {
		&:link, &:visited {
			color: #888888;
			text-decoration: none;
		}
	}
}

.comment-metadata {
	display: inline-block;
}

.comment-content {
	padding: 15px 25px 30px 25px;
	color: #ababab;
	letter-spacing: 0.5px;
	font-weight: 300;
}

.reply {
	display: none;
	font-size: 12px;
	padding: 0 0 24px;
	a {
		color: #ababab;
	}
}

a.comment-edit-link {
	color: #888888;
}

.commentlist .children li {
	border: none;
	margin: 0;
}

#comments .pingback {
	margin-bottom: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid #ababab;
}

.commentlist li.comment + li.pingback {
	margin-top: -6px;
}

#comments .pingback {
	p {
		color: #ababab;
		font-size: 12px;
		line-height: 18px;
		display: block;
		margin: 0;
	}
	.url {
		font-style: italic;
		font-size: 13px;
	}
}

input[type=submit] {
	color: #ababab;
}

#respond {
	margin-top: 24px;
	overflow: hidden;
	position: relative;
	.comment-notes {
		margin-bottom: 1em;
	}
}

.form-allowed-tags {
	line-height: 1em;
}

.children #respond {
	margin: 0 48px 0 0;
}

h3#reply-title {
	padding: 60px 0 25px 0;
	font-family: $heading-font;
	font-size: 20px;
	letter-spacing: 2px;
}

#comments-list #respond {
	margin: 0 0 18px;
}

#cancel-comment-reply-link {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

#commentform::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#respond {
	.required {
		color: $accent-2;
		font-weight: 700;
	}
	label {
		display: inline-block;
		width: 100%;
		opacity: 0;
		color: #888888;
		font-size: 12px;
	}
	p.comment-form-author, p.comment-form-email {
		float: left;
		width: 50%;
	}
	input#author {
		margin-right: 25px;
	}
	input#email {
		margin-left: 25px;
	}
	input#author, input#email {
		width: calc(100% - 25px);
	}
	textarea {
		width: 100%;
		margin-top: 15px;
	}
	textarea, input {
		height: 40px;
		padding: 10px;
		border: none;
		border-bottom: 2px solid #D5D6D5;
		outline: none;
		font-family: $heading-font;
		font-style: italic;
		&:focus {
			border-bottom: 2px solid $accent-2;
		}
	}
	dt {
		color: #888888;
		font-size: 12px;
		line-height: 18px;
	}
	dd {
		color: #888888;
		font-size: 12px;
		line-height: 18px;
		code {
			font-size: 11px;
		}
	}
	.form-submit {
		margin-bottom: 100px;
		text-align: center;
		input#submit {
			width: 180px;
			margin-top: 50px;
			padding: 6px 0;
			background: transparent;
			border: 3px solid $accent-2;
			border-radius: 50px;
			font-size: 12px;
			text-transform: uppercase;
			font-style: bold;
			color: $accent-2;
			&:hover {
				background-color: $accent-2;
				color: white;
			}
		}
	}
	dl {
		margin: 0 0 10px;
	}
	dt {
		display: inline;
		font-weight: 400;
	}
	dd {
		display: inline;
	}
}

p.form-allowed-tags, .nocomments {
	display: none;
}

.commentlist {
	list-style: none;
	margin: 0;
	.children {
		list-style: none;
		margin: 0;
	}
}

.comment-meta {
	background-color: white;
	a {
		&:active, &:hover {
			color: $accent-2;
		}
	}
	b.fn {
		padding-right: 15px;
		font-size: 24px;
	}
}

.reply a:hover, a.comment-edit-link:hover {
	color: $accent-2;
}

#respond p, #comments-list ul #respond {
	margin: 0;
}