.portfolio-piece {
	ul {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		text-align: center;
		li {
			width: 230px;
			padding: 15px;
			border-left: 1px solid #efefef;
			color: #ababab;
			font-size: 16px;
			letter-spacing: 1px;
			&:last-of-type {
				border-right: 1px solid #efefef;
			}
			p:last-child {
				color: $black;
				text-transform: uppercase;
			}
		}
	}
	.portfolio-title {
		margin-bottom: 10px;
		padding-top: 80px;
		font-size: 24px;
		text-transform: uppercase;
		&::after {
			@include keyline(0, 0, transparent);
		}
	}
	.project-info-container {
		padding-top: 80px;
		.project-info {
			display: inline-block;
			width: 45%;
			vertical-align: middle;
			.about-project {
				padding: 0 0 20px 0;
				text-align: center;
				font-style: italic;
				@media all and (max-width: 800px) {
					padding-top: 40px;	
				}
			}
			@media all and (max-width: 800px) {
				width: 100%;
			}
		}
		.single-port-mockup {
			display: inline-block;
			width: 53%;
			text-align: right;
			vertical-align: middle;
			img {
				display: inline-block;
				width: 90%;
			}
			@media all and (max-width: 800px) {
				display: block;
				width: 80%;
				margin: 50px auto 0 auto;
				text-align: center;
			}
		}
	}
}

.demo-image-link {
	display: block;
	.feature-portfolio-image {
		max-height: 640px;
		margin-top: 100px;
		overflow: hidden;
	}
}

.live-demo {
	padding-bottom: 30px;
	text-align: center;
	a {
		display: inline-block;
		width: 200px;
		height: 50px;
		padding-top: 15px;
		background-color: $accent-1;
		border: 1px solid $black;
		font-family: $heading-font;
		text-transform: uppercase;
		transition: background-color 0.3s;
		outline: none;
		&:hover, &:focus {
			background-color: $accent-2;
			color: black;
		}
	}
}

.project-desc {
	padding-bottom: 40px;
	ul li {
		display: block;
	}
}

.share-project {
	font-style: italic;
	text-align: center;
	span {
		padding: 0 10px;
	}
	a {
		padding: 10px;
	}
}

.related-container a {
	width: calc(33% - 15px);
	padding-bottom: 160px;
	@media all and (max-width: 800px) {
		display: block;
		width: 100%;
		margin: 0;
		padding-bottom: 0;
		.portfolio-item {
			display: flex;
			align-items: center;
			.fp-portfolio-image-container {
				width: 50%;
			}
			.fp-portfolio-info-container {
				width: 50%;
			}
		}
		&:nth-of-type(even) .portfolio-item {
			flex-direction: row-reverse;
		}
		&:last-child {
			padding-bottom: 100px;
		}
	}
}